.tippy-tooltip.custom-theme {
    background-color: rgb(255, 102, 102);
    padding: .25rem .4375rem;
    font-size: .8125rem;
    font-weight: 600
}

.tippy-tooltip.custom-theme[x-placement^=top] .tippy-arrow {
    border-top: 8px solid rgb(255, 102, 102);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-tooltip.custom-theme[x-placement^=bottom] .tippy-arrow {
    border-bottom: 8px solid rgb(255, 102, 102);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.tippy-tooltip.custom-theme[x-placement^=left] .tippy-arrow {
    border-left: 8px solid rgb(255, 102, 102);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-tooltip.custom-theme[x-placement^=right] .tippy-arrow {
    border-right: 8px solid rgb(255, 102, 102);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent
}

.tippy-tooltip.custom-theme .tippy-backdrop {
    background-color: rgb(255, 102, 102)
}

.tippy-tooltip.custom-theme .tippy-roundarrow {
    fill: rgb(255, 102, 102)
}

.tippy-tooltip.custom-theme[data-animatefill] {
    background-color: initial
}

.tippy-tooltip.custom-theme[data-size=small] {
    font-size: .75rem;
    padding: .1875rem .375rem
}

.tippy-tooltip.custom-theme[data-size=large] {
    font-size: 1rem;
    padding: .375rem .75rem
}